aclocal.m4
autom4te.cache
build
config.*
configure
depcomp
install-sh
ltmain.sh
Makefile.in
missing
py-compile
*.sw?
*~
*.lo
*.la
*.o
*.tar.gz
*.rpm
.libs
.deps
Makefile
stamp-h1
bigobjects.pc
libtool
*pyc